.f-container {
    background-color: #515151;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.f-rows {
    display: inline-flex;
    padding: 50px 20px 20px 20px;
}

.f-single_row {
    color: #f7f7f7;
    padding-bottom: 35px;
}

.f-row_title {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.f-row_text {
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.f-media_wrapper a {
    text-decoration: none;
}

.f-phone_circle {
    height: 50px;
    width: 50px;
    background-color: #3f51b5;
    color: #f7f7f7;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out
}

.f-phone_circle:hover {
    background-color: #2f41a5;
}

.f-link {
    font-size: 16px;
    margin-top: 0;
}

.s2-col {
    padding: 0;
    overflow: hidden;
}

.s2-col img {
    background-position: top;
    position: initial;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2-col:hover img {
    transform: scale(1.1);
}

.s2-col:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.s2-img_text {
    font-family: 'Montserrat-500', sans-serif;
    color: white;
    position: absolute;
    width: inherit;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.s2-hl-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.s2-hl-wrapper {
    width: 100%;
    height: 100%;
}

.s2-hl-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 0;
    margin-right: 10px;
    color: rgb(90, 88, 88);
    float: left;
}

.s2-button-bg {
    background-color: rgb(233, 179, 168);
    color: white;
    border-radius: 6px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    transition: all 0.3s ease-in-out;
}

.s2-button-bg:hover {
    background-color: white;
    color: rgb(233, 179, 168);
}

@media (min-width: 768px) {
    .s2-col {
        height: 33vw;
        max-height: 370px;
        overflow: hidden;
    }

    .s2-col:after {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .s2-col:hover:after {
        display: block;
        opacity: 1;
    }

    .s2-img_text {
        visibility: hidden;
        opacity: 0;
        font-size: 30px;
        transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .s2-col:hover .s2-img_text {
        visibility: visible;
        opacity: 1;
    }

    .s2-hl-container {
        padding: 40px;
    }

    .s2-hl-text {
        font-size: 36px;
        min-height: 50px;
        max-height: 50px;
    }

    .s2-hl-wrapper {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .s2-button-bg {
        height: 50px;
        width: 50px;
        max-height: 50px;
        max-width: 50px;
        font-size: 1.2rem;
    }
}

@media (max-width: 767.98px) {
    .s2-col {
        height: 50vw;
    }

    .s2-hl-container {
        padding: 15px 0 15px 0;
    }

    .s2-hl-text {
        font-size: 20px;
        min-height: 40px;
    }

    .s2-button-bg {
        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        font-size: 1rem
    }
}

a {
    color: #f7f7f7;
    transition: all 0.3s ease-out;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.4rem;
}

a:hover {
    color: #c8c8c8;
    text-decoration: none;
}