.f-container {
    background-color: #515151;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.f-rows {
    display: inline-flex;
    padding: 50px 20px 20px 20px;
}

.f-single_row {
    color: #f7f7f7;
    padding-bottom: 35px;
}

.f-row_title {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.f-row_text {
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.f-phone_circle {
    height: 50px;
    width: 50px;
    background-color: #3f51b5;
    color: #f7f7f7;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    z-index: 20;
}

.f-phone_circle:hover {
    background-color: #2f41a5;
}

.s2-col {
    padding: 0;
    overflow: hidden;
    max-width: 100%;
}

.s2-img {
    background-position: top;
    position: initial;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2-col img {
    background-position: top;
    position: initial;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2-col:hover img {
    transform: scale(1.1);
}

.s2-col:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.s2-img_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    position: absolute;
    width: inherit;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.s2-hl-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 0;
    margin-right: 10px;
    color: rgb(90, 88, 88);
    float: left;
    transition: all 0.3s ease-out;
}

.s2-hl-text:hover {
    color: rgb(125, 125, 125);
}

.s2-button-bg {
    background-color: rgb(233, 179, 168);
    color: white;
    border-radius: 6px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    transition: all 0.3s ease-in-out;
}

.s2-button-bg:hover {
    background-color: white;
    color: rgb(233, 179, 168);
}

.black-bg {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5
}

.gallery-container {
    padding: 40px;
}

.gallery-section-wrapper {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-text {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #515151;
}

.gallery-img {
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
}

.gallery-img div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-img img {
    object-position: center;
    background-position: top;
    position: initial;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-img:hover img {
    transform: scale(1.1);
}

.f-media_wrapper a {
    color: #f7f7f7;
    transition: all 0.3s ease-out;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.4rem;
}

.f-media_wrapper a:hover {
    color: #c8c8c8;
    text-decoration: none;
}

.f-link {
    color: #f7f7f7;
    transition: all 0.3s ease-out;
    margin-top: 0;
    font-size: 16px;
}

.f-link:hover {
    color: #c8c8c8;
    text-decoration: none;
}

.navbar {
    z-index: 999;
}

.navbar-nav {
    padding-right: 0;
    float: right;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}


.nav-item {
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.48px;

}

.nav-item.active {
    background-color: rgb(231, 85, 170);
    color: white;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: rgb(231, 85, 170);
}

.navbar-light .navbar-nav .nav-link:focus {
    color: white;
    text-decoration: none;
}

.h a {
    color: #f7f7f7;
    transition: all 0.25s ease-out;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 1.4rem;
    font-size: 16px;
    padding: 10px 40px;
}

.h li {
    margin-left: 15px;
}

.h-container {
    z-index: 3;
}

.parallax {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: 100px;
}

.parallax2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: 100px;
}


.parallax2:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.bg-light {
    background-color: transparent !important;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 700px;
    z-index: 2;
}

.header-title {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    font-size: 85px;
    color: white;
    position: relative;
    z-index: 6;
    margin-top: 120px;
}

.header-title2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    position: relative;
    z-index: 6;
}

.content {
    position: relative;
    z-index: 4;
}

.hamburger {
    display: none;
    transform: scale(0.7);
}

.white-icon {
    display: none;
}

.h-short {
    height: 220px;
    background-attachment: scroll;
}

.flex-center-icon {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    display: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.about-container {
    padding: 40px 40px;
    margin: 0;
}

.about-row_wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.about-img_col {
    padding: 90px 0 34px 0;
}

.about-image {
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    position: relative;
    text-align: center;
}

.about-image img {
    border-radius: 50%;
    max-height: 331px;
    max-width: 331px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) -3px 3px 11px 0;
}

.about-contact_btn {
    position: relative;
    text-align: center;
    margin: -87px 0 0 160px;
}

.about-contact_btn img {
    border-radius: 50%;
    max-width: 160px;
    max-height: 160px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) -3px 3px 11px 0;
    transition: all .2s ease-out
}

.about-contact_btn img:hover {
    transform: scale(1.1);
}

.about-content_col {
    padding: 0;
}

.about-title {
    display: block;
    text-align: center;
    color: #515151;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0;
    padding: 10px 0;
}

.about-divider {
    color: #515151;
    background-color: rgb(233, 179, 168);
    height: 0;
    border-width: 1px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    width: 50px;
    min-width: 25px;
    margin: 10px auto;
    text-align: center;
}

.about-who {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    color: #808285;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.about-who span {
    padding: 2px 0;
}

.about-content {
    color: #666666;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    margin-top: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 400px;
}

.contact-container {
    position: relative;
    padding: 60px 5%;
    background-color: white;
    z-index: 15;
}

.con-col_wrap {
    margin: 10px 0;
    padding: 0 10px;
}

.con-row_wrap {
    padding: 0;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.con-icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 30px;
    word-break: break-word;
}

.con-flex_wrap {
    display: inline-flex;
    padding: 10px 3.5%;
}

.con-text {
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    color: #515151;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
}

.con-text_content {
    position: relative;
    font-family: "Montserrat", sans-serif;
    color: rgba(102, 102, 102, 1);
    font-weight: 300;
    font-size: 16px;
    word-break: break-word;
}

.con-text_content span {
    vertical-align: middle;
}


.form-container {
    padding: 60px 5px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form-container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.form-row_wrap {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

.form-box {
    margin: 10px 0;
    padding: 0 15px;
}

.label-box {
    width: 100%;
}

.form-input {
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 5px 10px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0 1px white;
}

.form-input::placeholder {
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px white;
}

.form-input:-webkit-autofill {
    background-color: white;
}

.form-consent-box {
    margin: 10px 0;
    padding: 0 15px;
}

.form-consent-box label {
    display: flex;
}

.form-consent-box span {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: relative;
    top: -0.15em;
    line-height: normal;
    margin: 0 15px 0 10px;
    text-align: justify;
}

.form-submit-box {
    max-width: 100%;
    width: auto;
    flex: unset;
    height: 42px;
    margin: 12px auto 30px auto;
}

.label-submit-box {
    left: 50%;
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.label-submit-box input {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-stretch: 100%;
    color: rgb(233, 179, 168);
    width: 230px;
    max-width: 100%;
    height: 100%;
    background-color: white;
    border: 3px solid white;
    transition: background-color .2s ease, border-color .2s ease;
}

.label-submit-box:hover input {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    color: white;
}

.form-owner {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    display: flex;
    padding: 0 15px;
    margin: 0 15px 0 23px;
    text-align: justify;
}

.form-side-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
    .gallery-img {
        width: 255px;
        height: 265px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px ) {
    .gallery-img {
        width: 210px;
        height: 220px;
    }
}

@media screen and (min-width: 565px) and (max-width: 767px) {
    .con-flex_wrap {
        width: 100%;
    }
}

.opinion-pad {
    padding: 120px 15px;
}

.opinion-box {
    background-color: rgba(255, 255, 255, 0.85);
    margin-left: 10px;
    margin-right: 10px;
    padding: 60px 15px 40px 15px;
    text-align: center;
    max-width: 31.5%;
    flex: 0 0 33.333333%;
}

.opinion-text {
    font-family: "Montserrat", sans-serif;
    color: rgba(102, 102, 102, 1);
    line-height: normal;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    max-width: 305px !important;
    min-width: 25px !important;

}

.opinion-line {
    color: rgba(233, 179, 168, 1) !important;
    border-width: 1px !important;
    border-top-style: solid !important;
    border-top-width: 2px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4px;
    transform: scaleX(0.15);
}

.opinion-text2 {
    font-family: "Montserrat", sans-serif;
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
}

.opinions {
    display: inherit;
    max-width: 960px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 11;
}


@media screen and (min-width: 992px) {
    .s2-col {
        height: 100%;
        max-height: 370px;
        overflow: hidden;
    }

    .s2-col:after {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .s2-col:hover:after {
        display: block;
        opacity: 1;
    }

    .s2-img_text {
        visibility: hidden;
        opacity: 0;
        font-size: 30px;
        transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
    }

    .s2-col:hover .s2-img_text {
        visibility: visible;
        opacity: 1;
    }

    .s2-hl-container {
        padding: 40px;
    }

    .s2-hl-text {
        font-size: 36px;
        min-height: 50px;
        max-height: 50px;
    }

    .s2-hl-wrapper {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .s2-button-bg {
        height: 50px;
        width: 50px;
        max-height: 50px;
        max-width: 50px;
        font-size: 1.2rem;
    }

    .h-button-pos {
        float: left;
    }

    .navbar-collapse {
        display: block !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .gallery-img {
        width: 150px;
        height: 160px;
    }
}

@media screen and (max-width: 575px) {
    .gallery-img {
        left: 50%;
        transform: translate(-50%);
    }

    .con-text_content {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .gallery-img {
        width: 378px;
        height: 190px;
    }

    .gallery-text {
        font-size: 36px;
    }

    .about-contact_btn {
        display: none;
    }

    .about-container {
        padding: 20px 0;
    }

    .about-row_wrapper {
        padding: 0 15px;
    }

    .about-image {
        margin-top: 34px;
    }

    .about-image img {
        max-width: 160px;
        max-height: 160px;
    }

    .about-img_col {
        padding: 0 0 10px;
    }

    .about-content_col {
        padding-bottom: 10px;
    }

    .about-title {
        font-size: 36px;
    }

    .about-content {
        font-size: 14px;
    }

    .about-divider {
        width: 65px;
    }

    .about-content {
        margin-bottom: 8px;
    }

    .con-text {
        font-size: 36px;
    }

    .form-second-row {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .offset-mobile {
        transform: translateY(-100px);
    }

    .s2-col {
        height: 50vw;
        max-height: 370px;
    }

    .s2-hl-container {
        padding: 15px 0 15px 0;
    }

    .s2-img_text {
        font-size: 14px;
    }

    .s2-hl-text {
        font-size: 20px;
        min-height: 40px;
    }

    .s2-button-bg {
        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        font-size: 1rem
    }

    .h-navbar-m {
        position: relative;
        padding: 20px 10px;
        background-color: white !important;
        width: 100%;
        left: 0;
        position: fixed;
        box-shadow: 0px 5px 17px 4px lightgrey;
    }

    .h-logo-m {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%) translateY(-55px) scale(0.5);
    }

    .h-hamburger-m {
        float: right;
        /* order: 1; */
    }

    .hamburger {
        z-index: 10;
        display: block;
    }

    .h-menu-m {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        background-color: rgba(233, 179, 168, 1);
        width: 100vw;
        height: 100vh;
        z-index: 7;

    }

    .nav-item.active {
        background-color: transparent !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(236, 236, 236, 1);
        transition: all 0.5s ease-out;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        background-color: transparent !important;
        text-decoration: underline;
        font-weight: bold;
        color: white;
    }

    .h {
        display: block;
        text-align: center;
        margin-top: 15%;
    }

    .navbar-nav {
        float: unset;
    }

    .header-title {
        transform: scale(0.7);
        float: left;
        left: -60px;
        margin-top: 200px;
        font-size: 100px;
    }

    .header-title2 {
        transform: scale(0.7);
        float: right;
        right: -50px;
        text-align: right;
        font-size: 34px;
    }

    .far, .fab {
        display: block;
        color: black;
    }

    .white-icon {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        padding: 10px 10px;
        margin: 12px 12px;
        bottom: -50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
    }

    .flex-center-icon {
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        display: unset;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-44%);
    }

    .h li {
        margin-left: 0px;
    }

    a.social-media {
        padding: unset;
    }

    .h-short {
        height: 100px;
    }

    .opinion-box {
        margin-top: 10px;
        max-width: unset;
        flex: unset;
    }

    .opinions {
        display: block;
    }

    .opinion-pad {
        padding: 30px 15px 40px 15px;
    }
}