.f-container {
    background-color: #515151;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.f-rows {
    display: inline-flex;
    padding: 50px 40px 20px 40px;
}

.f-single_row {
    color: #f7f7f7;
    padding-bottom: 35px;
}

.f-row_title {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.f-row_text {
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}

.f-media_wrapper a {
    text-decoration: none;
}

.f-phone_circle {
    height: 50px;
    width: 50px;
    background-color: #3f51b5;
    color: #f7f7f7;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 35px 35px 0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-out
}

.f-phone_circle:hover {
    background-color: #2f41a5;
}

.f-link {
    font-size: 16px;
    margin-top: 0;
}

.s2-col {
    padding: 0;
    vertical-align: top;
    overflow: hidden;
}

.s2-col img {
    transition: all 0.25s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2-col:hover img {
    transform: scale(1.05);
}

.s2-col:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.s2-img_text {
    font-family: 'Montserrat-500', sans-serif;
    color: white;
    position: absolute;
    width: inherit;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

@media (min-width: 768px) {
    .s2-col {
        height: 33.33vw;
        max-height: 370px;
        overflow: hidden;
    }

    .s2-col:after {
        opacity: 0;
        transition: all 0.25s ease;
    }

    .s2-col:hover:after {
        display: block;
        opacity: 1;
    }

    .s2-img_text {
        visibility: hidden;
        opacity: 0;
        font-size: 30px;
        transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    .s2-col:hover .s2-img_text {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .s2-col {
        height: 50vw;
    }
}

a {
    color: #f7f7f7;
    transition: all 0.25s ease-out;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.4rem;
}

a:hover {
    color: #c8c8c8;
    text-decoration: none;
}