<div class="container-fluid about-container">
    <div id="about_us" class="offset-mobile"></div>
    <div class="row about-row_wrapper">
        <div class="col-sm-12 col-xs-12 col-md-6 about-img_col">
            <div class="about-image">
                <img src="{{ asset("imgs/kwiatuszek.png") }}">
            </div>
            <a href="/contact">
                <div class="about-contact_btn">
                    <img src="{{ asset("imgs/contactus.png") }}">
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-6 about-content_col">
            <h2 class="about-title">O nas</h2>
            <hr class="about-divider">
            <h3 class="about-who">
                <span>Kwiatuszek</span>
                <br>
                <span>Elżbieta Piotrowska</span>
            </h3>
            <div class="about-content">
                <span>
                    Kwiatuszek Elżbieta Piotrowska oferuje wysokiej jakości usługi florystyczne –
                    znaleźć tu można piękne bukiety okazjonalne, bukiety ślubne, kwiaty doniczkowe, wiązanki, kosze
                    kwiatów
                    i wiele innych.
                    Na zamówienie kwiaciarnia wykonuje dekoracje sal weselnych, wieńce i wiązanki pogrzebowe czy
                    dekoracje
                    kościoła.
                </span>
                <div>
                    <br>
                </div>
                <span>
                    Kwiaciarnia Mokotów
                </span>
                <div>
                    <br>
                </div>
                <span>
                    Wysoka jakość usług idzie tu w parze z miłą obsługą i atrakcyjnymi cenami.
                    Kwiaciarnia Kwiatuszek pracuje 7 dni w tygodniu – dzięki temu klienci nie muszą długo czekać na
                    realizację zamówienia.
                    Wieloletnie doświadczenie, wysokie umiejętności i pasja sprawiają,
                    iż usługi florystyczne tej firmy spełniają oczekiwania nawet najbardziej wymagających klientów.
                    Pracownicy zawsze dbają o świeżość kwiatów oraz wykonanie z dbałością o najmniejsze szczegóły.
                </span>
            </div>
        </div>
    </div>
</div>