{% extends 'base.html.twig' %}
{% block content %}
    <div class="content">
        <div style="position: relative; z-index: 15; background-color: white">
            {% include("homepage/aboutus.html.twig") %}
            {% include("homepage/work.html.twig") %}
        </div>
            {% include("homepage/opinions.html.twig") %}
    </div>
{% endblock %}
