<div id="opinions" class="container-fluid parallax2 opinion-pad" style="background-image: url({{ asset('imgs/opinions/opinion-bck.jpg')}})">
    <div class="mask2">
        <div class="row opinion-row-c">
             <div class="opinions">
                <div class="opinion-box">
                    <span class="opinion-text">
                    Świetna kwiaciarnia! Najlepsza na Mokotowie :) Panie bardzo miłe, ceny niskie a bukiety przepiękne! Warto zajrzeć, polecam z całego serca!
                    </span>
                    <div class="opinion-line">
                    </div>
                    <span class="opinion-text2">
                    Ewa
                    </span>
                </div>

                <div class="opinion-box">
                    <span class="opinion-text">
                    Bardzo profesjonalna kwiaciarnia, miła obsługa, Panie zawsze dobrze doradzą, na każdą okazję zaopatruje się w tej kwiaciarni i zawsze jestem mega zadowolony dodając do tego duży wybór świeżych kwiatów oraz przepiękny wystrój lokalu, aż chcę się tam kupować kwiaty ! :) Bardzo polecam
                    </span>
                    <div class="opinion-line">
                    </div>
                    <span class="opinion-text2">
                    Kacper
                    </span>
                </div>

                <div class="opinion-box">
                    <span class="opinion-text">
                    Super, że ja też znalazłem tą kwiaciarnię. Ilekroć potrzebuje podziękować lub wkupić się w łaski, czyteż smutny pogrzeb kompozycje zawsze trafione w gust i robią furorę. Gorąco polecam :))
                    </span>
                    <div class="opinion-line">
                    </div>
                    <span class="opinion-text2">
                    Jurek
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>