<div class="container-fluid contact-container">
    <div class="row con-row_wrap">
        <div class="col-md-6 col-sm-12 col-xs-12 con-col_wrap">
            <h2 class="con-text">
                Kwiaciarnia Kwiatuszek
            </h2>
            <div class="container">
                <div class="con-flex_wrap">
                    <div class="con-icon">
                        <img src="{{ asset("imgs/contact/svgmap.svg") }}" alt="mapsvg">
                    </div>
                    <div class="con-text_content">
                        <span>
                            Bukowińska 28
                        </span>
                        <div></div>
                        <span>
                            02-703 Warszawa
                        </span>
                    </div>
                </div>
                <div class="con-flex_wrap">
                    <div class="con-icon">
                        <img src="{{ asset("imgs/contact/svgphone.svg") }}" alt="phonesvg">
                    </div>
                    <div class="con-text_content">
                        <span>
                            (22) 843 67 60
                        </span>
                        <div></div>
                        <span>
                            604 781 959
                        </span>
                    </div>
                </div>
                <div class="con-flex_wrap">
                    <div class="con-icon">
                        <img src="{{ asset("imgs/contact/svgmail.svg") }}" alt="phonesvg">
                    </div>
                    <div class="con-text_content">
                        <span>
                            epkwiatuszek56@gmail.com
                        </span>
                        <div></div>
                        <span>
                            kwiaciarniamokotow@gmail.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 con-col_wrap">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>