{% block stylesheets %}
    <style>
        a {
            color: #f7f7f7;
            transition: all 0.25s ease-out;
            margin-right: 20px;
            margin-top: 10px;
            font-size: 1.4rem;
        }

        a:hover {
            color: #c8c8c8;
        }
    </style>
{% endblock %}
<div class="container-fluid f-container">
    <div class="row f-rows">
        <div class="col-sm-12 col-md-4 f-single_row">
            <div class="f-row_title">
                ADRES
            </div>
            <div class="f-row_text">
                <div>ul. Bukowińska 28</div>
                <div>02-703 Warszawa</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 f-single_row">
            <div class="f-row_title">
                KONTAKT
            </div>
            <div class="f-row_text">
                <div>(22) 843 67 60</div>
                <div>604 781 959</div>
                <div>kwiaciarniamokotow@gmail.com</div>
                <div class="f-media_wrapper">
                    <a class="fab fa-facebook-f"
                       href="https://www.facebook.com/kwiaciarnia.kwiatuszek.mokotow/"></a>
                    <a class="fab fa-instagram" href="https://www.instagram.com/kwiaciarnia_na_mokotowie/"></a>
                    <a class="far fa-envelope" href="mailto:epkwiatuszek56@gmail.com"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 f-single_row">
            <div class="f-row_title">
                GODZINY OTWARCIA
            </div>
            <div class="row f-row_text">
                <div class="col-md-6 col-sm-12">Pon - Sob</div>
                <div class="col-md-6 col-sm-12">9:00 - 20:00</div>
                <div class="w-100"></div>
                <div class="col-md-6 col-sm-12">Niedziela</div>
                <div class="col-md-6 col-sm-12">10:00 - 16:00</div>
            </div>
        </div>
    </div>
    <span class="f-phone_circle">
        <i class="fas fa-phone-alt"></i>
    </span>
</div>
