
<div class="container-fluid parallax" style="background-image: url({{ asset("imgs/work/header_bck.jpg")}})">
    <div class="mask"></div>
    <div class="container h-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('/imgs/work/logo.png') }}" width="180px" height="180px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto h">
                    <li class="nav-item active">
                        <a class="nav-link " href="#">Strona główna <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 class="header-title">
Kwiaciarnia Kwiatuszek
        </h1>
        <span class="header-title2 float-right">
...bo kwiaty to nie tylko ozdoba w wazonie
        </span>
    </div>
</div>
